.face {
    color: blue;
  }
  .email {
    border-radius: 5px;
  }
  .pass {
    border-radius: 5px;
  }
  button {
    background-color: blue;
    color: whitesmoke;
  }
  .forget {
    color: blue;
    font-weight: lighter;
    text-decoration-line: underline;
  }
  .create {
    background-color: rgb(111, 190, 32);
    width: 40vw;
    height: 40px;
  }
  .box1{
      text-align: center;
      background-color: crimson;
  }
  .sign{
    background-color: rgb(172, 172, 204);
    color: rgb(206, 18, 18);
  text-align: center;
  font-weight: bold;
  color: white;
  width: 4rem;
  height: 3rem;
  }